.app {
  height: 100vh;
  
  .logo {
    cursor: pointer;
    max-width: 140px!important;
  }
}

.home {
  margin: 0 50%;

  button {
    width: 100%;
    font-weight: 600;
  }
}

.game {
  position: absolute;
  top: 20%;
  width: 85%;
  
  #avatar-img-autocomplete {
    clip-path: inset(0 0 20px 0 round 100px);
  }

  #avatar-img-datatable {
    clip-path: inset(0 0 40px 0 round 100px);
  }

}

.modal-text {
  div {
    font-size: 12px;
    a {
      color: #fff;
      font-weight: 700;
    }
  }
  p {
    font-size: 12px;
    margin-bottom: 16px;
    a {
      color: #fff;
      font-weight: 700;
    }
  }
}

.pixels {
  margin-top: 16px;
  text-align: center;
  @media (max-width: 460px) {
    font-size: 12px;
  }
}